html {
    background-color: black;
    color: white;
    font-size: 16px;
}

body {
    text-align: center;
    margin-top: 1rem;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    font-family: Verdana;
}

a {
    color: aquamarine;
    font-size: 16px;
}